{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Achat</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
      <div class="col-md-3">
        <label class="mt-0 mb-0">Produit</label>
        <select class="form-control" name="product" id="product">
        {% for product in products %}
          <option value="{{product.slug}}">{{product}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="col-md-3">
        <label class="mt-0 mb-0">Lot</label>
        <input class="form-control mt-0" type="search" name="batch" id="batch" placeholder="Lot" required>
      </div>
      <div class="col-md-3">
        <label class="mt-0 mb-0">Quantité</label>
        <input class="form-control" value="0" name="qte" id="qte" type="number" min="0" step = '1' />
      </div>
      <div class="col-md-3">
        <label class="mt-0 mb-0">Date d'Expiration</label>
        <input class="form-control" type="date"   name="exp_date" id="exp_date" >
      </div>
      <div class="col-md-6 mt-3">
      <button class="btn btn-outline-dark btn-md" type="submit">Valider</button>
      </div>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
