{% extends "base/base.html" %} {% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Produits</h1>
    <hr />
  </div>
  {% for product in products %}
  <h3 class="text-center">{{ product }} : {{ product.quantity }}</h3>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Lot</th>
          <th scope="col">Quantité</th>
          <th scope="col">Date d'Expiration</th>
        </tr>
      </thead>
      <tbody>
        {% for batch in batches %}
        {% if batch.product == product %}
        <tr>
          <th scope="row" class="text-nowrap">{{ batch.ref|upper }}</th>
          <th scope="row" class="text-nowrap">{{ batch.quantity }}</th>
          <th scope="row" class="text-nowrap">{{ batch.expiring_date }}</th>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock content %}
